@using Models
@model Viewmodel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 body-content">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="pill" href="#songs">Songs</a></li>
        <li><a data-toggle="pill" href="#artists">Artists</a></li>
        <li><a data-toggle="pill" href="#friends">Friends</a></li>
    </ul>

    <div class="tab-content">
        <div id="songs" class="tab-pane fade in active">
            <h3 class="text-center">Songs</h3>
            <form asp-controller="Home" asp-action="SearchSongs" method="post">
                <input asp-for="@Model.NewSong().Title" type="text" placeholder="Search.." style="width:30%">
                <button class="btn btn-default btn-lg" type="submit" onclick="@Url.Action("SearchSongs", "Home")">Search</button>
            </form>
            
            @if(Model.Songs.Count() == 0)
            {
                <h4 class="text-center">Search your songs here</h4>

            }
            else
            {
                <ul class="list-group center-block">
                @foreach (Song song in Model.Songs)
                 {
                    
                        <li class="list-group-item justify-content-between align-items-center">
                            <a>
                                @song.Title, @foreach (Artist artist in song.Artists)
                                {@(artist.Name)}, Total Streams: @song.Total_streams
                            </a>
                    <span class="badge badge-primary badge-pill defaultbackground"><a href="#"><span class="glyphicon glyphicon-list" style="color:white"></span></a></span>
                    </li>
                    
                 }
                </ul>
            }
            
            
        </div>
        <div id="artists" class="tab-pane fade">
            <h3 class="text-center">Artists</h3>
            <input type="text" placeholder="Search.." style="width:30%">
            <ul class="list-group center-block">
                <li class="list-group-item justify-content-between align-items-center">
                    Artiest1
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Artiest2
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Artiest3
                </li>
            </ul>
        </div>
        <div id="friends" class="tab-pane fade">
            <h3 class="text-center">Friends</h3>
            <input type="text" placeholder="Search.." style="width:30%">
            <ul class="list-group center-block">
                <li class="list-group-item justify-content-between align-items-center">
                    Account1
                    <span class="badge badge-primary badge-pill defaultbackground">
                        <a href="#">
                            <span class="glyphicon glyphicon-list" style="color:white"></span>
                        </a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Account2
                    <span class="badge badge-primary badge-pill defaultbackground">
                        <a href="#">
                            <span class="glyphicon glyphicon-list" style="color:white"></span>
                        </a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Account3
                    <span class="badge badge-primary badge-pill defaultbackground">
                        <a href="#">
                            <span class="glyphicon glyphicon-list" style="color:white"></span>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        /* Set the width of the side navigation to 350px */
        function openNavFriends() {
                document.getElementById("FriendsSidenav").style.width = "350px";
        }

        /* Set the width of the side navigation to 350px */
        function openNavPlaylists() {
                document.getElementById("PlaylistsSidenav").style.width = "350px";
            }

        /* Set the width of the side navigation to 0 */
        function closeNavFriends() {
                document.getElementById("FriendsSidenav").style.width = "0";
            }
        /* Set the width of the side navigation to 0 */
        function closeNavPlaylists() {
                document.getElementById("PlaylistsSidenav").style.width = "0";
            }
    </script>
}

